@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-rgb: 217, 202, 179;
  --accent-color-rgb: 109, 152, 134;
  --component-background-rgb: 246, 246, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

input {
  border-radius: 0.5rem;
}

input[type='text'],
input[type='password'] {
  outline: 1px solid rgb(var(--accent-color-rgb));
}

input[type='radio'],
input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(var(--accent-color-rgb));
  background-color: rgb(var(--component-background-rgb));
  position: relative;
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='checkbox'] {
  border-radius: 20%;
}

input[type='radio']:checked,
input[type='checkbox']:checked {
  background-color: rgb(var(--accent-color-rgb));
}

input[type='radio']::before,
input[type='checkbox']::before {
  content: '\2713';
  font-size: 16px;
  color: rgb(var(--component-background-rgb));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type='radio']:checked::before,
input[type='checkbox']:checked::before {
  display: block;
}

.container {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  background-color: rgb(var(--component-background-rgb));
  border-radius: 12px;
}

.underlined {
  border-bottom: 1px solid rgb(var(--accent-color-rgb));
}

.accent-colored {
  color: rgb(var(--accent-color-rgb));
}

.white-colored {
  color: rgb(var(--component-background-rgb));
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(var(--accent-color-rgb));
  color: rgb(var(--foreground-rgb));
  text-align: center;
  cursor: pointer;
}

button:hover {
  color: rgb(var(--component-background-rgb));
  box-shadow: 0 0 1px 1px rgb(var(--accent-color-rgb));
}

.sidebar, nav {
  background-color: rgb(var(--accent-color-rgb));
  color: rgb(var(--component-background-rgb));
}

.category:hover {
  color: rgb(var(--foreground-rgb));
}

nav {
  width: 100%;
}
